<div class="main-navigation-container">
  <div class="inner-navigation-container">
      <div class="initials-container">
          RP
      </div>
      <div class="horizontal-menu-container">
          <div class="menu-item">Me</div>
          <div class="menu-item">My Projects</div>
          <div class="menu-item">Projects I've Worked On</div>
          <div class="menu-item">Experience</div>
          <div class="menu-item">Blogs</div>
          <div class="menu-item">Contact Me</div>
      </div>
  </div>
</div>
