@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */

:root {
  --navigation-padding: 0px 20px;
  --navigation-font-color: white;
  --menu-items-font-size: 30px;
  --verticle-menu-width: 300px;
  --main-navigation-container-height: 200px;
  --initials-menu-size: 80px;
  --hover-line-distance: -80px;
  --hover-line-height: 10px;
  --horizontal-menu-width: 60%;
  --menu-toggle-icon-size: 20px;
}

* {
  padding: 0;
  margin: 0;
  font-family: Rubik;
}

@font-face {
  font-family: LeagueSpartan;
  src: url(../src/assets/fonts/LeagueSpartan.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(../src/assets/fonts/Montserrat.ttf);
}

@font-face {
  font-family: RampageMonoline;
  src: url(../src/assets/fonts/RampageMonoline.otf);
}

@font-face {
  font-family: Rubik;
  src: url(../src/assets/fonts/Rubik.ttf);
}

.main-body-container{
  height: calc(100vh - var(--main-navigation-container-height));
  display: flex;
}

.button-name{
  color: white !important;
}

.form-item-label{
  color: white !important;
}

.ant-form-horizontal .ant-form-item-label {
  text-align: left !important;
}

.current-page-name{
  position: fixed;
  background-color: white;
  height: 30px;
  right: 0;
  bottom: 10px;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.current-page-name:hover{
  padding-right: 30px;
}

.main-body-container .black-box-in-body{
  background-color: #090909;
  width: 40%;
  height: 100%;
}

.fullWidth{
  width: 100% !important;
}

.main-body-container .image-container-in-body{
  background-color: #090909;
  width: 60%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.main-body-container .image-container-in-body .image-in-body{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-show{
  opacity: 1 !important;
}

.page-datas{
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.page-data{
  width: 100%;
  height: 100%;
  position: relative;
}

.page-data-container{
  color: white;
  position: absolute;
  left: 120px;
  top: 150px;
  width: 40vw;
}

.top-0{
  top: calc(var(--main-navigation-container-height) + 10px);
}

.contact-me-header{
  font-size: 30px;
}

.contact-me-hr{
  margin: 10px 0px;
}

.page-data-container .subheading{
  font-size: 18px;
}

.page-data-container .heading{
  font-size: 40px;
}

.page-data-container .description{
  padding-top: 30px;
  font-size: 15px;
}

.page-data-container .button-container{
  padding-top: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: max-content;
}

.page-data-container .button-container:hover .right-arrow{
  width: 40px;
}

.page-data-container .button-container .button-icon{
  height: 10px;
  color: white;
}


.main-navigation-container{
  height: var(--main-navigation-container-height);
  background-color: black;
  z-index: 1;
  position: relative;
}

.inner-navigation-container{
  height: 100%;
  padding: var(--navigation-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--navigation-font-color);
}

.initials-container{
  font-family: RampageMonoline;
  font-size: var(--initials-menu-size);
  position: relative;
  z-index: 4;
}

.horizontal-menu-container{
  display: flex;
  justify-content: space-between;
  width: var(--horizontal-menu-width);
  font-size: var(--menu-items-font-size);
}

.horizontal-menu-container .menu-item{
  cursor: pointer;
  position: relative;
}

.horizontal-menu-container .menu-item::after{
  content: "";
  position: absolute;
  width: 0%;
  height: var(--hover-line-height);
  background-color: white;
  left: 0;
  right: 0;
  bottom: var(--hover-line-distance);
  border-radius: 1px;
  transition: 0.3s ease-out;
  margin: auto;
}

.horizontal-menu-container .menu-item:hover::after{
  width: 100%;
}

.verticle-menu-container{
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateX(var(--verticle-menu-width));
  transition: 0.3s ease-in-out;
}

.verticle-menu-container.open{
  transform: translateX(0);
}

.verticle-menu-container .menu-items{
  width: var(--verticle-menu-width);
  max-width: 100vw;
  background-color: black;
  padding-top: var(--main-navigation-container-height);
}

.menu-toggle-icon{
  color: white;
  cursor: pointer;
  font-size: var(--menu-toggle-icon-size);
}

.toggle-button-container{
  position: relative;
  z-index: 4;
  display: none;
}

.verticle-menu-container .menu-items .menu-item{
  padding: 10px 20px;
  cursor: pointer;
}

.right-arrow{
  margin-left: 10px;
  width: 30px;
  background-color: white;
  height: 1px;
  display: block;
  position: relative;
  transition: 0.3s ease-in-out;
}

.right-arrow::after{
  content: "";
  width: 5px;
  height: 1px;
  position: absolute;
  right: 0;
  top: -2px;
  background-color: white;
  transform: rotate(45deg);
}

.right-arrow::before{
  content: "";
  width: 5px;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: -2px;
  background-color: white;
  transform: rotate(-45deg);
}

.social-container{
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  padding-left: 10px;
  z-index: 2;
}

.social-container .socials{
  display: flex;
}

.social-container .socials .social{
  padding: 5px 10px 5px 0px;
}

.social-container .socials .social a img{
  height: 20px;
}

@media screen and (max-width: 1660px) {
  :root {
    --horizontal-menu-width: 80%
  }
}

@media screen and (max-width: 1500px) {
  :root {
    --main-navigation-container-height: 80px;
    --initials-menu-size: 50px;
    --hover-line-distance: -25px;
    --hover-line-height: 6px;
    --menu-items-font-size: 20px;
    --horizontal-menu-width: 60%
  }
}

@media screen and (max-width: 1300px) {
  :root {
    --horizontal-menu-width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --horizontal-menu-width: 90%
  }
}

@media screen and (max-width: 850px) {
  :root {
    --main-navigation-container-height: 70px;
    --initials-menu-size: 40px;
  }

  .horizontal-menu-container{
    display: none;
  }

  .toggle-button-container{
    display: block;
  }
}
