<div class="main-navigation-container">
  <div class="inner-navigation-container">
      <div class="initials-container">
          RP
      </div>
      <div class="horizontal-menu-container">
          <div class="menu-item" (click)="navigationClicked('Me')">Me</div>
          <div class="menu-item" (click)="navigationClicked('My Projects')">My Projects</div>
          <div class="menu-item" (click)="navigationClicked('Projects I\'ve Worked On')">Projects I've Worked On</div>
          <div class="menu-item" (click)="navigationClicked('Experience')">Experience</div>
          <div class="menu-item" (click)="navigationClicked('Blogs')">Blogs</div>
          <div class="menu-item" (click)="navigationClicked('Contact Me')">Contact Me</div>
      </div>
  </div>
</div>


<div class="main-body-container">
  <div class="black-box-in-body">

  </div>
  <div class="image-container-in-body">
    <img src="{{page.ImageLink}}" class="image-in-body" *ngFor="let page of pageDatas; let i = index" [ngClass]="{'image-show': i == currentSelectedPageIndex}">
  </div>
</div>

<div class="current-page-name">{{currentPageName}}</div>

<div class="social-container">
    <div class="follow-me">
        FOLLOW ME
    </div>
    <div class="socials">
        <div class="social"><a target="_blank" href="https://github.com/gamble4846"><img src="assets/images/githubIcon.png"></a></div>
        <div class="social"><a target="_blank" href="https://www.instagram.com/gamble4846/"><img src="assets/images/instagramIcon.png"></a></div>
        <div class="social"><a target="_blank" href="https://www.linkedin.com/in/rohanpatel4846/"><img src="assets/images/linkedinIcon.png"></a></div>
    </div>
</div>

<div class="page-datas" (wheel)="onMousewheel($event)" [style.transform]="pageDatasTransform">
  <div class="page-data" *ngFor="let page of pageDatas">
    <div class="page-data-container" *ngIf="page.PageName == 'Me' || page.PageName == 'My Projects' ||  page.PageName == 'Projects I\'ve Worked On' ">
      <div class="subheading">{{page.Subheading}}</div>
      <div class="heading">{{page.Heading}}</div>
      <div class="description">{{page.Description}}</div>
      <div class="button-container">
        <div class="button-name">{{page.ButtonName}}</div>
        <div class="right-arrow"></div>
      </div>
    </div>
  </div>

  <div class="page-data">
    <div class="page-data-container top-0">
      <div class="contact-me-header">Contact Me</div>
      <hr class="contact-me-hr">
      <form nz-form [formGroup]="contactMeForm" (ngSubmit)="submitContactMeForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="name"><span class="form-item-label">Name</span></nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="nameError">
            <input nz-input type="text" formControlName="name" id="name" placeholder="Enter Name"/>
            <ng-template #nameError let-control>
              <ng-container *ngIf="control.hasError('required')">Please Enter Your Name</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="email"><span class="form-item-label">Email</span></nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="emailError">
            <input nz-input type="text" formControlName="email" id="email" placeholder="Enter Email"/>
            <ng-template #emailError let-control>
              <ng-container *ngIf="control.hasError('required')">Please Enter Your Email</ng-container>
              <ng-container *ngIf="control.hasError('email')">Invalid Email</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="message"><span class="form-item-label">Message</span></nz-form-label>
          <nz-form-control [nzSm]="24" [nzXs]="24" [nzErrorTip]="messageError">
            <textarea rows="4" nz-input type="text" formControlName="message" id="message" placeholder="Enter Message"></textarea>
            <ng-template #messageError let-control>
              <ng-container *ngIf="control.hasError('required')">Please Enter Your Message</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <div class="button-container" (click)="submitContactMeForm()">
          <div class="button-name">Submit</div>
          <div class="right-arrow"></div>
        </div>
      </form>
    </div>
  </div>
</div>
